.button-contenu{
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* Style pour les boutons Suivant et Précédent */
/* Style pour les boutons Suivant et Précédent */
.btn-default
 {
  width: 10%; /* Modifier la largeur à 100% pour occuper toute la largeur disponible */
  color: white;
  background-color: #0eacca !important;
  border: white;
  border-radius: 20px !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  margin-top: 5%;
  margin-right: 10px; /* Ajout d'une marge à droite pour espacer les boutons */
  height: 7.5vh !important;
  transition: all 0.2s ease-in-out;
}



/* Effet de survol pour les boutons Suivant et Précédent */
.btn-default:hover
{
  background-color: #0079b9 !important;
  transform: translateY(-2px);
}

.btn-danger:hover
{
  background-color: #5cb85c !important;
  transform: translateY(-2px);
}
/* Effet de clic pour les boutons Suivant et Précédent
.sw-btn-prev:active
{
  background-color: #0eacca;
  border-color: #0eacca;
  transform: translateY(2px);
} */

.sw-btn-prev:active
{
  background-color: #0eacca;
  border-color: #0eacca;
  transform: translateY(2px);
}

