/* Import de la police Google - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.titreMonPortail {
    margin-top: 0.5rem;
    font-size: 30px;
    color: #ffffff;
}

/* Ajustement de la taille du logo */
.custom-navbar img {
    height: 10.5vh;
  }

/*Navbar  */
.custom-navbar,
.custom-main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */
}

.custom-sidebar.close {
    visibility: hidden;
    transition: visibility 0.5s ease;
    z-index: 99;
    }

    .custom-sidebar.close ~ .custom-main {
        left: 0;
        width: 100%;
    }

.custom-navbar {
  left: 0px;
  position: fixed;
  color: #11101d;
  padding: 15px 20px;
  font-size: 25px;
  background: #0eacca;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Largeur égale à la page */
  height: 11%;
}



/*contenu de la page*/
.custom-main {
    position: relative;
    height: 100vh;
    z-index: 100;
    background: #ffffff;
    padding-top: 7%;
    padding-left: 1%;
  }

  .custom-main h1 {
    color: #11101d;
    font-size: 30px;
    font-weight: bold;
  }

.custom-main {
  overflow-y: auto; /* Activer l'ascenseur vertical */
}

.custom-main-content {
  max-height: 400px; /* Définir la hauteur maximale */
}

  /* Barre latérale */
  .custom-sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #e7f2fd;
    padding: 15px;
    padding-top: 7%;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .custom-sidebar a {
    color: rgba(0, 0, 0, 0.78);
    text-decoration: none;
    font-size: 18px; /* Modifiez la taille de la police selon vos préférences */
    font-weight: bold; /* Modifiez le poids de la police selon vos préférences */
    display: block;
    padding: 15px 20px;
    background: #e7f2fd;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color .3s ease-in-out, box-shadow .3s ease-in-out;
    width: 113.4%;
    margin-left: -7%;
  }


  .custom-sidebar a:hover {
    text-decoration: none;
    box-shadow: inset 36.5vh 0 0 0 #0eacca;
    color: #11101d;
  }

  .custom-sidebar a.active {
    background-color: #0eacca;
    color: #11101d;
  }

    .font-weight-bold
    {
        margin-left: -0.57rem;
    }

  /* Notification */




