@media (min-width: 768px) {
    /* Personalisation de la barre de navigation */
    .navbar {
      margin-top: -2.6%;
      height: 19vh;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
    }

    /* Ajustement de la taille du logo et titre*/
    .logo {
        margin-top: 69%;
        height: 10rem;
        width: auto;
        position: relative;
        z-index: 999;
      }

    .title {
      margin-top: 19%;
      height: 17vh;
      width: auto;
    }

    /* Ajustement de la position du menu */
    .navbar-nav {
      margin-left: 2vw;
      margin-top: 5.6%;
    }

    /* Ajustement de l'espacement entre les éléments de la nav */
    .navbar-nav .nav-link {
      margin-right: 0.1rem !important;
    }

    /* Fixe la hauteur et l'espacement vertical des éléments de menu */
    .navbar-nav .nav-link {
      height: 10vh;
      line-height: 8vh;
      margin-right: 2.4rem;
      padding: 1vh 1.5vw;
    }

    /* Ajout d'un effet de survol sur le texte du menu et le fond de la zone de survol */
    .nav-item:hover .nav-link {
      color: #0eacca;
      border-bottom: 0.8vh solid #0eacca;
      font-size: 1.2rem;
      font-weight: bold;
      transform: translateY(-0.4rem);
      position: relative;
    }

    /* Affichage  du menu déroulant */
    .dropdown:hover .dropdown-menu {
      opacity: 1;
      display: block;
      visibility: visible;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 1.2rem !important;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
      position: relative;
    }

    /* Style de survol pour les éléments de menu déroulant */
    .dropdown-menu a:hover {
      color: #0eacca;
      background-color: #f8f9fa;
    }

    /* Désactiver l'événement du clic */
    .dropdown-toggle {
      pointer-events: none;
    }

    /* Style pour le bouton MonPortail */
    .btn-primary {
      background-color: #0eacca !important;
      border-color: #0eacca !important;
      border-radius: 20px !important;
      font-size: 1.2rem !important;
      font-weight: bold !important;
      margin-top: 5%;
      margin-right: 0vw;
      height: 7.5vh !important;
      transition: all 0.2s ease-in-out;
      margin-left: 87%;
    }

    /* Effet de survol pour le bouton MonPortail */
    .btn-primary:hover {
      background-color: #0079b9 !important;
      transform: translateY(-2px);
      }

      /* Effet de clic pour le bouton MonPortail */
      .btn-primary:active {
      background-color: #0eacca;
      border-color: #0eacca;
      transform: translateY(2px);
      }

      .carousel-item {
        height: 36rem;
      }

      .carousel-item img {
        height: 100%;
        object-fit: cover;
      }


    /* Style pour la section Admission */
    .admission-container {
      padding-top: 3%;
      background-color: #f8f9fa;
    }

    .admission-container h2{
      font-family: 'Open Sans', sans-serif;
      font-size: 2.2rem;
      font-weight: bold;
    }

    .admission-row p{
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8rem;
    }

    .steps-row {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
    }

    .card-text{
      font-size: 1.2rem;
    }
    }
